body {margin: 0 0 0 0}

#header
{
    
	float: left;
	width: 100%;
	background: #333;
}
#title
{
	float: left;
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
        font-weight: bold;
	border-right: 1px solid #fff;
}

#navigation ul
{
    float:right;
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #bbb;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; color: #fff; }

#content
{
	clear: left;
	padding: 0px;
}

